/* Reset default margin and padding for all elements */
body, h1, table {
  margin: 0;
  padding: 0;
}

/* Center the content of the body 
body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; }/* Change to your desired background color */


/* Style for the welcome message */


/* Style for the table */
table {
  border-collapse: collapse;
  border: 2px solid #000;
  background-color: #fff;
  font-size: 18px;
}

/* Style for the table headings */
th {
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #000;
  text-align: center;
}

/* Style for the table cells */
td {
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
}

/* Style for the links */
a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* Style for the links on hover */
a:hover {
  color: #ff0000; /* Change to your desired hover color */
}
