<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Session_Demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  		<servlet-name>Login</servlet-name>
  		<servlet-class>\session\Login</servlet-class>
  </servlet>
  <servlet>
  		<servlet-name>Welcome</servlet-name>
  		<servlet-class>\session\Welcome</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>Log</servlet-name>
  		<url-pattern></url-pattern>
  </servlet-mapping>
  
</web-app>